body {
    font-weight: 300;

    margin: 0;
    padding: 0;
    font: 400 10px CoreSans, Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    background-color: #000000;
}

a {
    text-decoration: none;
    color: #108db8;
    /* font-weight: bold;*/
}

.img-size-half {
    max-width: 50%;
    cursor: pointer;
}

nav {
    width: 100%;
    background: #108db8;
}

nav a {
    color: white;
    padding: 1rem;
    display: inline-block;
}

#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

#content > h2 {
    color: #4e5458;
    font-size: 16px;
    font-weight: 600;
}

h1 {
    color: rgba(0, 236, 85, 0.81);
    font-family: impact;
}

.page {
    display: -ms-flexbox;
    display: block;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: space-around;
    -webkit-box-pack: center;
    background: #000;
    font-size: 20px !important;
    width: 100%;
}

.center-it {
    text-align: center;
    display: flex;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cart {
    justify-content: left;
    font-weight: bold;
}

.short-cart-summary {
    font-size: 12px;
}

.row {
    flex-direction: row;
    justify-content: left;
    flex-wrap: nowrap;
    display: flex;
    margin: 12px;
}

.label {
    flex: 3;
    width: 70%;
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content {
    flex: 1;
    width: 30%;
    display: inline;
    text-align: right;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
}

.products {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.product {
    border: 1px solid gray;
    font-size: 16px;
    color: white;
    background-color: black;
    padding: 20px;
    max-width: 400px;
}

.product img {
    max-width: 200px;
    max-height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.product-title,
.product-price {
    font-size: 20px;
    font-weight: bold;
    display: inline;
    text-transform: uppercase;
}

.product-price {
    display: inline;
    margin-left: 10px;
}

.product-cart-controls {
    padding-top: 20px;
    padding-bottom: 20px;
}

.product select {
    margin-bottom: 10px;
}

.column {
    min-width: 70px;
    white-space: pre-wrap;
    text-align: left;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.column.product-name {
    min-width: 300px !important;
}
.column.product-total,
.column.actions {
    min-width: 150px;
}

.column.actions {
    padding-left: 10px;
}
.actions-header {
    text-align: right;
}

.column.actions button {
    margin: 0.1em;
    padding: 5px;
}

.full-cart-summary {
    background: #262626;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

button,
select,
.short-cart-summary a {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 3px;
    border: 0;
    -webkit-font-smoothing: antialiased;
    font-family: CoreSans, Arial, sans-serif;
    display: inline-block;
    box-sizing: border-box;
    padding: 6px 12px;
    font-weight: 700;
    line-height: 1.2;
    font-size: 13px;
    color: #fff;
    background: #ff53a0;
    text-transform: uppercase;
    text-align: center;
    transition: background 0.2s;
}

button:disabled,
select:disabled {
    color: black;
}

button:hover,
select:hover {
    background-color: red;
    cursor: pointer;
}

button:active,
select:hover {
    background-color: rgba(0, 236, 85, 0.81);
    color: black;
}

button:focus,
select:focus {
    outline: none;
}

.short-cart-summary {
    position: fixed;
    bottom: 1px;
    right: 0px;
    border: 1px solid;
    z-index: 1000;
}

.green-button {
    background: #94d500;
}

button:disabled {
    background: gray;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
}

.product-small-mode img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    transform: scale(1);
    animation-duration: 0.5s;
    animation-name: shrinkProduct;
}

@keyframes shrinkProduct {
    from {
        transform: scale(3);
    }
    to {
        transform: scale(1);
    }
}

.product-large-mode img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    animation-duration: 0.5s;
    animation-name: inlargeProduct;
    transform: scale(3);
    cursor: pointer;
}

@keyframes inlargeProduct {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(3);
    }
}

#menu {
    font-size: 18px;
    justify-content: center;
    display: flex;
    background-color: #151111;
    width: 100%;
}

#menu a {
    border-bottom: 1px rgba(202, 10, 3, 0.472) solid;
    color: rgb(202, 8, 3);
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    font-weight: bold;
    opacity: 0.8;
    text-align: center;
    letter-spacing: 5px;
    font-family: impact !important;
    user-select: none;
}

#menu a.active {
    color: rgba(0, 236, 85, 0.81);
}

#menu a:hover {
    border-bottom: 1px rgba(0, 236, 85, 0.81) solid;
    font-weight: bolder;
    opacity: 1;
}

input,
textarea,
select {
    min-width: 100px;
}

#trigger-mobile {
    display: none;
}

.mobile {
    display: none;
}

.variation-name {
    text-transform: initial;
    font-size: 16px;
    display: block;
}

.center-text {
    text-align: center;
}

.expander-header,
.section {
    user-select: none;
}
.expander-header {
    cursor: pointer;
    color: rgb(202, 8, 3);
    font-family: impact;
    letter-spacing: 5px;
    font-size: 25px;
}

.section.expander-content:hover {
    border: 1px rgba(0, 236, 85, 0.81) dashed;
    font-weight: bolder;
    opacity: 1;
}

.expander-header:hover {
    color: white;
}

.section.expander-content {
    border: 1px dashed rgb(202, 8, 3);
    opacity: 1;
}

.section.expander-content h2,
.product-title,
.product-price {
    color: rgb(202, 8, 3);
    font-family: impact;
    letter-spacing: 5px;
}
.section.expander-content ul {
    list-style-type: none;
}

.expander-header.expander-content-expanded {
    color: rgba(0, 236, 85, 0.81);
    /*border: 1px dashed rgb(202, 8, 3);*/
}

.vid-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}

.vid-an-list {
    display: flex;
    flex-direction: row;
}

.vid {
    width: 100%;
    padding: 20px;
}

.vid-list {
    margin-top: 20px;
    padding: 20px;
    padding-top: 0px;
    padding-left: 0px;
    max-height: 100vh;
    overflow-y: scroll;
}

.vid-iframe {
    width: 100%;
    height: 100vh;
}
.vid-thumbnail {
    border: 2px rgb(202, 8, 3) dashed;
    cursor: pointer;
    padding: 5px;
}
.vid-thumbnail img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.vid-thumbnail:hover {
    border: 2px rgba(0, 236, 85, 0.81) dashed;
}

.vid-thumbnail-title {
    max-width: 300px;
    text-align: center;
}

.vid-controls {
    display: flex;
    justify-content: left;
}

.vid-search {
    margin-right: 10px;
    font-size: 30px;
    color: red;
    font-family: impact;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
    letter-spacing: 5px;
}
.vid-search,
.vid-search:focus,
.vid-search:active {
    outline: none;
    border: none;
}

.show-recent {
    font-size: 30px;
    padding: 2% 0;
    font-family: impact;
    font-weight: bold;
    letter-spacing: 5px;
    cursor: pointer;
    margin-left: 10px;
}
.show-recent:hover {
    color: red;
}

.react-pdf__Document {
    align-self: center;
}
/* logo animation */

.logo-man,
.logo-words {
    width: 80vmin;
    pointer-events: none;
}

.logo-man {
    margin-top: -61vmin;
    width: 45vmin;
}

@media (prefers-reduced-motion: no-preference) {
    .logo-words {
        animation: logo-words-spin infinite 20s linear;
    }
}

@keyframes logo-words-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.image-gallery {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.image-gallery-container {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
}

.image-gallery-image-box {
    background-color: #262626;
    margin: 1%;
    margin-bottom: 2px;
    padding: 5px;
    margin-top: 2px;
    overflow: hidden;
    min-height: 200px;
    min-width: 200px;
    display: flex;
    justify-content: center;
    border-bottom: 2px rgb(202, 8, 3) dashed;
    border-radius: 2px;
}

.image-gallery-pagging-buttons {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

image-gallery-image {
    cursor: pointer;
    border-radius: 2px;
    max-width: 100%;
}

.search-bar {
    background-color: white;
    padding-right: 20px;
    border-radius: 15px;
}

.search-button {
    padding: 10px;
    border-radius: 5px;
}

@media only screen and (max-width: 770px) {
    .vid-an-list,
    .vid-controls {
        flex-direction: column;
    }

    #trigger-mobile {
        display: block;
        background-color: black;
        position: absolute;
        z-index: 1000;
        right: 0;
        opacity: 0.5;
    }

    .vid-thumbnail-title {
        display: none;
    }

    .vid-container {
        align-items: center;
    }

    .vid-search,
    .show-recent {
        padding: 0px;
        margin: 0px;
        font-size: 14px;
        margin: 0px;
        padding: 0px;
    }

    .show-recent {
        text-align: center;
        margin-top: 5px;
    }

    .vid-search {
        padding: 4px;
        margin-right: 0px;
        border: 0px;
    }

    .search-bar {
        padding: 5px;
    }

    .vid-thumbnail {
        border: none;
        max-width: 90%;
    }

    .vid {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        padding: 5px;
        padding-bottom: 10px;
    }

    .vid-iframe {
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
        height: 180px;
        max-width: 90%;
    }

    .vid-list {
        padding: 5px;
    }

    #trigger-mobile:focus {
        outline: none;
    }

    #menu {
        z-index: 999;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 0px;
        cursor: pointer;
    }

    .mobile-menu-open {
        opacity: 1;
        left: 0;
        transition: all 250ms;
    }

    .mobile-menu-closed {
        opacity: 0;
        left: -600px;
        transition: all 250ms;
    }

    /* full cart summary */
    .full-cart-summary {
        padding-bottom: 10px;
        margin-left: initial;
        margin-right: initial;
    }
    .full-cart-summary .row.header {
        display: none;
    }

    .full-cart-summary .row.detail {
        flex-direction: column;
    }

    .full-cart-summary .column.actions {
        padding-left: 0px;
    }

    .full-cart-summary .column.actions button {
        margin: 2px;
        padding: 6px;
    }

    .row.detail .column {
        padding: 5px;
    }

    .row.detail .column.product-name {
        font-weight: bold;
        text-transform: uppercase;
    }

    /* general */
    .mobile {
        display: inline;
    }

    .product img {
        padding-top: 5px;
        padding-bottom: 0px;
    }

    .column {
        white-space: wrap;
    }

    .column.product-name {
        max-width: initial;
    }

    .variation-name {
        display: inline;
    }

    .actions-header {
        text-align: left;
    }
}
